.children-plans {
  gap: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;

  .header {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
  }

  .content {
    overflow: auto;
    .row {
      border-bottom: 1px solid var(--grey-semidark);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0.5rem 0.5rem 0.5rem 0;

      .name {
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        > i {
          cursor: pointer;
          color: var(--crowdplanning-primary-color);
        }
      }

      .location {
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
