.group-list {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 270px;
        width: 270px;
        height: 55px;
        background-color: var(--white);
        border-radius: var(--border-radius);
    
        .text {
            text-transform: uppercase;
        }

        &.active {
            background-color: var(--ok-color);
            color: var(--white);
        }
    }

    .item:hover {
        cursor: pointer;
    }
    
    @media(max-width: var(--low-res-tablet-max-width)) {
        .item {
            width: fit-content
        }
    
        .text {
            padding: 0.5rem 1rem;
        }
    }
}