.item {
  display: flex;
  align-items: center;
  justify-content: center !important;
  gap: 0.5rem;
  max-width: 270px;
  width: 270px;
  height: 55px;
  background-color: var(--white);
  border-radius: var(--border-radius);

  .group-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .commands {
    display: none;
  }

  .text {
    text-transform: uppercase;
  }

  &.active {
    background-color: var(--crowdplanning-primary-color);
    color: var(--white);
  }
}

.item:hover {
  justify-content: space-evenly !important;

  .commands {
    display: inline;
  }
}

.item:hover {
  cursor: pointer;
}

@media (max-width: var(--low-res-tablet-max-width)) {
  .item {
    width: fit-content;
  }

  .text {
    padding: 0.5rem 1rem;
  }
}
