.item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-width: 227px;
  width: 227px;
  min-height: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: var(--border-radius);

  .group-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    .detail-cont{
      display:flex;
      flex-flow: column;

      .description{
        text-transform: uppercase;
      }
    }
  }

  .commands {
    display: none;
  }

  .text {
    //text-transform: uppercase;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.active {
    background-color: var(--crowdplanning-primary-color);
    color: var(--white);
  }
}

.item:hover {
  .text {
    width: 140px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  //justify-content: space-evenly !important;

  .commands {
    display: inline;
  }
}

.item:hover {
  cursor: pointer;
}

@media (max-width: var(--low-res-tablet-max-width)) {
  .item {
    width: fit-content;
  }

  .text {
    padding: 0.5rem 1rem;
  }
}
