.group-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  height: 100%;
  //align-items: stretch;
  border-right: 1px solid var(--grey-semidark2);

  .childrens {
    padding-left: 1rem;
    display: flex;
    flex-flow: column;
    gap: .5rem;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    // max-width: 227px;
    width: 95%;
    min-height: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.main {
      width: 100%;

      .text {
        width: fit-content;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex-flow: row nowrap;
      }
    }

    .text {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.active {
      background-color: var(--crowdplanning-primary-color);
      color: var(--white);
      font-weight: 700;
    }

    .icon {
      display: none;
    }
  }

  .item:hover {
    &.main {
      width: 100%;

      .text {
        width: fit-content !important;
      }
    }

    .text {
      width: 130px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    cursor: pointer;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: var(--low-res-tablet-max-width)) {
    .item {
      width: fit-content;
    }

    .text {
      padding: 0.5rem 1rem;
    }
  }
}
