.modal.task {
  grid-template-rows: repeat(7, auto) 1fr auto !important;
  grid-template-columns: 1fr;
  max-width: 40vw;
  padding: 0;
  gap: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  max-height: 900px;
  overflow-y: scroll;

  &.splitView {
    grid-template-columns: 6fr 4fr;
  }

  .title {
    background-color: var(--ok-color);
    input {
      width: 100%;
      color: var(--white);
    }
  }

  > header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
    grid-column: 1/-1;
    min-height: 0;
    width: 100%;
    height: min-content;
    overflow-y: hidden;

    > .fullspace {
      flex: 1;
      padding: 0.2rem;
    }

    &.attachments-container {
      display: flex;

      .area {
        .content {
          max-height: 200px;
        }
      }
    }

    &.archived {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: stretch;

      label.warning {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        background-color: var(--warning-color);
      }
    }

    &.info {
      justify-content: flex-end;
      padding: 0 1rem;
      align-items: baseline;
    }

    &.status {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;
      overflow: visible;

      > .area {
        flex: 1;
      }

      &.col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        input {
          width: 80%;
        }
      }
    }

    &.map-settings {
      justify-content: flex-start;

      .area {
        flex: 1;
      }

      .layers {
        max-height: 80px;
        overflow-y: auto;

        > div {
          display: flex;
          flex-direction: row;
        }
      }
    }

    &.editor {
      max-width: 100%;
      .area {
        flex: 2;
        overflow: hidden;
        max-width: 100%;

        .content-editor-container {
          width: 100%;
          max-height: 200px;
          display: flex;
          flex-direction: column;
        }
      }

      .dates {
        flex: 1;
        height: 100%;

        .date-picker-container {
          border: 1px solid var(--grey-semidark2);
          border-radius: var(--border-radius);
          height: var(--input-big-height);
          width: 100%;
        }
      }
    }

    .area {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      // gap: 0.5rem;
      // height: 60px;

      &.leftauto {
        margin-left: auto;
      }

      > small {
        letter-spacing: 1px;
      }

      time {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-sm);
      }

      &.fixed {
        min-width: 200px;
        max-width: 200px;

        b {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .autocomplete {
        position: relative;

        .autocomplete-results {
          width: 300px;
          position: fixed;
          background-color: var(--white);
          padding: var(--input-box-padding);
        }
      }

      > input,
      select {
        border-radius: var(--border-radius);
        height: var(--input-big-height);
        width: 100%;
      }
    }

    .date-range {
      display: grid;
      grid-template-columns: auto 110px;
      gap: 0.5rem;
      align-items: center;
      border: 1px solid var(--grey-semidark2);
      cursor: pointer;
    }
  }

  footer {
    grid-row: -1;
    display: flex;
    justify-content: flex-end;
  }

  header.function-selector {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0;
    padding: 0 1rem;
    font-size: 1.2rem;

    > button {
      border-radius: var(--border-radius);
      background: none;
      border: none;
      color: var(--text-color);

      &.active {
        color: var(--primary-color);
      }
    }

    .expander {
      margin-left: auto;
      gap: 0.5rem;

      span {
        font-weight: 300;
        font-size: 0.75rem;
      }

      &:hover {
        color: var(--primary-color);
      }
    }

    border-top: 1px solid var(--grey-semidark2);
    border-bottom: 1px solid var(--grey-semidark2);
    background: var(--grey-light);
  }

  .discussion {
    grid-column: 2;
    grid-row: 8;
    overflow-y: hidden;
  }

  > section {
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);

    grid-row: 8;
    padding: 0 0.5rem;
    gap: 2rem;
    margin: 0.5rem;

    > hr {
      width: 90%;
      height: 1px;
      border: none;
      background-color: var(--grey-semidark);
    }

    article {
      &.fullheight {
        height: 100%;
      }

      display: flex;
      flex-flow: column;
      padding-right: 0.5rem;
      gap: 0.5rem;

      .description {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        .title {
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-bold);
        }

        .text {
          font-size: 13px;
          padding-bottom: 1rem;
        }

        .shortcuts {
          grid-column: 2;
          grid-row: 1/-1;
        }
      }
    }
  }

  textarea {
    min-height: 200px;
    // border-radius: var(--inpu);
    outline: none;
    padding: 1rem;
    line-height: 1.5;
  }
}
