.container {
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 0.5rem;
  height: 100%;

  .command {
    padding: 0 1rem;

    > button {
      width: 100%;
    }
  }

  .rating {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
