.container {
  min-width: 300px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-flow: column;

  .rating {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .title {
    font-weight: var(--font-weight-bold);
  }
}
