.task-card {
  width: 330px;
  max-width: 330px;
  display: grid;
  background-color: var(--card-background);

  .card-content {
    display: grid;
    gap: .5rem;
    padding: .5rem;
    .colrow {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
