#crowdplanning {
    > header {
        height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0 1rem;
        box-shadow: var(--aside-box-shadow);
        border-bottom: 1px solid var(--grey-semidark2);
        overflow-y: hidden;
        overflow-x: auto;
    }
}