#crowdplanning {
  > header {
    height: 100%;
    display: grid;
    grid-template-columns: var(--aside-min-width) 1fr;
    min-width: var(--aside-min-width);
    grid-row: 1;
    gap: 0.5rem;
    box-shadow: var(--aside-box-shadow);
    border-bottom: 1px solid var(--grey-semidark2);
    // overflow-y: hidden;
    // overflow-x: auto;
    background-color: var(--background-color);

    .search {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid var(--grey-semidark2);
      padding: 0.5rem;

      > input {
        width: 100%;
      }
    }

    .header-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 1rem;

      .btn {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;

        .plain {
          color: var(--ok-color);
          background-color: var(--white);
        }

        .square {
          justify-content: center !important;
        }

        .success {
          gap: 5px;
          justify-content: flex-end;

          span {
            text-transform: uppercase;
          }

          .viewOpt {
            width: max-content;
            height: fit-content;
            position: absolute;
            top: 100%;
            background-color: var(--white);
            box-shadow: var(--popup-box-shadow);
            border: 1px solid var(--grey-semidark2);
            overflow: hidden;
            display: flex;
            flex-flow: column nowrap;
            z-index: 5;
            border-radius: var(--button-border-radius);
            padding: 10px;
            margin-right: -13px;
            align-items: flex-start;

            .viewCont {
              display: flex;
              flex-flow: column;
              align-items: center;

              .view {
                display: flex;
                align-items: center;
                gap: 50px;
                width: 100%;
                justify-content: space-between;
              }
            }

            div {
              color: var(--black);
              display: flex;
              align-items: center;
              gap: 10px;
              flex-flow: row;

              label {
                margin-bottom: 0;
                font-size: var(--font-size-base);
                font-weight: var(--font-weight-base);
              }
            }
          }
        }
      }
    }
  }
}
