.summary-container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: var(--white);
  padding: 1rem;
  margin-right: 1rem;
  border-radius: var(--border-radius);
  gap: 28px;

  .cover-image {
    max-width: 100%;
    max-height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > img {
      //max-height: 100%;
      //max-width: 100%;
      width: 100%;
      width: -webkit-fill-available;
      width: -moz-available;;
    }
  }

  header {
    //margin: var(--spacer);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      //gap: var(--spacer);
    }
  }

  article {
    //margin: var(--spacer);
    .title {
      margin-bottom: var(--spacer);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-bold);
    }
  }

  .attachments {
    display: flex;
    flex-direction: column;

    .files {
      display: grid;
      grid-template-columns: minmax(50%, 1fr) minmax(50%, 1fr);

      .documents {
        .file {
          cursor: pointer;
          > img {
            max-height: 100px;
            width: auto;
          }
        }
      }

      .images {
        > img {
          max-height: 100px;
          width: auto;
        }
      }
    }
  }
}
