.modal.taskstatus {
  width: 600px;
  height: auto;
  max-height: 80%;

  grid-template-rows: auto 1fr auto;

  > section {
    gap: 2rem;

    .state {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;

      .header {
        font-size: var(--font-size-sm);
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--border-radius);
        background: var(--primary-color-lighter);
        padding-left: 1rem;
      }
    }
  }

  .state-container {
    padding: 0 1rem;
    border: 1px solid var(--grey-light);
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    min-height: 30px;

    article {
      border-bottom: 1px solid var(--grey-light);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .mini-card {
    display: grid;
    grid-template-columns: auto 1fr 3fr auto auto;
    align-items: center;
    grid-column-gap: 0.5rem;
    /* box-shadow: var(--card-box-shadow); */
    /* border: 1px solid var(--grey-semidark); */
    padding: 0 0.5rem;
    padding-right: 0;
    /* border-radius: var(--border-radius); */
    border-bottom: 1px solid var(--grey-light);
    &:last-of-type,
    &:last-child {
      border-bottom: none;
    }

    i.drag_indicator {
      color: var(--grey-semidark2);
      cursor: move;
    }

    input {
      border: none;
      width: 100%;
    }
  }
}
