#crowdplanning {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  overflow: hidden;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--white);
  }

  &.plan-added,
  &.plan-selected {
    grid-template-rows: 1fr;

    header {
      display: none;
    }

    .crowdplanning-content {
      display: block;

      .plan-and-map {
        display: flex;
        padding: 0;
        height: 100%;

        .plan-detail {
          width: 100%;
        }
      }
    }
  }

  .crowdplanning-content {
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;


    &.noGroups {
      grid-template-columns: 0 1fr;
    }

    .groups {
      background-color: var(--primary-color-lighter);
      overflow: hidden;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .plan-and-map {
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 1rem 2rem 1.5rem 1rem;
      overflow: hidden;

      .map {
        .plan-map {
          height: 100%;
        }
      }

      &.noMap {
        .map {
          display: none;
        }

        .plans {
          overflow-y: auto;
        }
      }

      &.noProj {
        grid-template-rows: 1fr;
      }

      .plans {
        overflow: hidden;
      }
    }
  }
}
