#crowdplanning {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  overflow: hidden;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--white);
  }

  .crowdplanning-content {
    padding: 1rem;
    overflow: hidden;
  }
}
