#crowdplanning {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  overflow: hidden;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--white);
  }

  .crowdplanning-content {
    //padding: 1rem 0;
    overflow: hidden;
    gap: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;

    //   &.plan-selected {
    //     grid-template-rows: 1fr;
    //   }

    //   .tasks {
    //     overflow-x: hidden;
    //   }

    .groups {
     
      height: 100%;
     
      gap: 1rem;
      letter-spacing: 1px;
      background-color: #ecf4fc;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    //   .task-detail {
    //     display: grid;
    //     overflow: hidden;
    //     box-sizing: border-box;
    //   }

    //   .map {
    //     display: flex;
    //     flex: 1;
    //     overflow: hidden;

    //     .task-map {
    //       display: flex;
    //       flex: 1;
    //     }
    //   }
  }
}
