.scrollable-container {
  display: flex;
  align-items: center;
  //justify-content: center;
  height: fit-content;
  padding-bottom: .5rem;
  overflow-x: auto;
  margin-bottom: 0.5rem;

  .scroll {
    cursor: pointer;
  }

  .scrollable-content {
    display: flex;
    flex: 1;
    //overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* F */
  }

  // .scrollable-content::-webkit-scrollbar {
  //   display: none;
  // }
}
